<% @articles.each do |article| %>
	<article>
		<h3><%= article.title %></h3><span><%= article.date %></span>
	<%= article.content %>
	<%= article.id %>
	<%=link_to "show", article_show_path %>
	<%=link_to "remove", admin_article_remove_path %>
	</article>
<% end %>
<%=@count %>